<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ubiqsmart"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <supports-screens
    android:anyDensity="true"
    android:largeScreens="true"
    android:normalScreens="true"
    android:resizeable="true"
    android:smallScreens="true"
    android:xlargeScreens="true" />

  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />

  <!-- Used for Importing / Exporting Wallets -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <!-- Used for QR Code scanning -->
  <uses-permission android:name="android.permission.CAMERA" />

  <!-- Used for optional Applock Feature -->
  <uses-permission android:name="android.permission.USE_FINGERPRINT" />

  <uses-feature
    android:name="android.hardware.camera"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.camera.autofocus"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.fingerprint"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.telephony"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.location"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.location.gps"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.location.network"
    android:required="false" />
  <uses-feature
    android:name="android.hardware.microphone"
    android:required="false" />

  <supports-screens android:anyDensity="true" />

  <application
    android:name="com.ubiqsmart.App"
    android:allowBackup="true"
    android:fullBackupContent="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:largeHeap="true"
    android:supportsRtl="true"
    android:theme="@style/Ubiq">
    <activity
      android:name="com.ubiqsmart.app.ui.splash.SplashActivity"
      android:noHistory="true"
      android:theme="@style/Ubiq.Splash">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name="com.ubiqsmart.app.ui.onboarding.OnBoardingActivity"
      android:theme="@style/Ubiq.OnBoarding" />

    <activity
      android:name="com.ubiqsmart.app.ui.main.MainActivity"
      android:configChanges="orientation|screenSize" />

    <activity
      android:name="com.ubiqsmart.app.ui.detail.AddressDetailActivity"
      android:configChanges="orientation|screenSize" />

    <activity
      android:name="com.ubiqsmart.app.ui.scanqr.QRScanActivity"
      android:configChanges="orientation|screenSize" />

    <activity
      android:name="com.ubiqsmart.app.ui.settings.SettingsActivity"
      android:configChanges="orientation|screenSize"
      android:label="@string/title_activity_settings" />

    <activity
      android:name="com.ubiqsmart.app.ui.wallet.WalletGenActivity"
      android:configChanges="orientation|screenSize"
      android:label="@string/title_activity_settings" />

    <activity
      android:name="com.ubiqsmart.app.ui.send.RequestEtherActivity"
      android:configChanges="orientation|screenSize"
      android:label="@string/title_activity_settings" />

    <activity
      android:name="com.ubiqsmart.app.ui.send.SendActivity"
      android:configChanges="orientation|screenSize"
      android:label="@string/title_activity_settings"
      android:windowSoftInputMode="stateHidden|adjustResize" />

    <activity
      android:name="com.ubiqsmart.app.ui.base.AppLockActivity"
      android:configChanges="orientation"
      android:label="@string/title_activity_main"
      android:screenOrientation="portrait" />

    <activity
      android:name="com.ubiqsmart.app.ui.settings.SetAppLockActivity"
      android:configChanges="orientation"
      android:label="@string/title_activity_main"
      android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="rehanced.com.simpleetherwallet.activities.SetAppLockActivity" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <receiver
      android:name="com.ubiqsmart.app.receiver.BootReceiver"
      android:enabled="true"
      android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.QUICKBOOT_POWERON" />

        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </receiver>

    <service
      android:name="com.ubiqsmart.app.services.NotificationService"
      android:exported="false" />

    <service
      android:name="com.ubiqsmart.app.services.WalletGenService"
      android:exported="false" />
    <service
      android:name="com.ubiqsmart.app.services.TransactionService"
      android:exported="false" />
  </application>

</manifest>